force-app/main/default/flows/Demo_Reactive_Components.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Blue</name>
        <choiceText>Blue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Green</name>
        <choiceText>Green</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Green</stringValue>
        </value>
    </choices>
    <choices>
        <name>Red</name>
        <choiceText>Red</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Red</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel
  >Demo: Reactive Components {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo: Reactive Components</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Reactive_Custom_Components</name>
        <label>Reactive Custom Components</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Custom_Title</name>
            <fieldText
      >&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Reactive Custom Components&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>From_Standard_to_LWC</name>
            <fieldText>From Standard to LWC</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>From_Standard_to_LWC_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message</name>
                    <dataType>String</dataType>
                    <fieldText>Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Color</name>
                    <dataType>String</dataType>
                    <fieldText>Color</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>From_Standard_to_LWC_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Colored_Text</name>
                    <extensionName>c:displayColoredText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>color</name>
                        <value>
                            <elementReference>Color</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>Message</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>From_LWC_to_Standard</name>
            <fieldText>From LWC to Standard</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>From_LWC_to_Standard_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Map_Select</name>
                    <extensionName>c:mapSelect</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>From_LWC_to_Standard_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Selected_Marker</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference
            >Map_Select.selectedMarkerValue</elementReference>
                    </defaultValue>
                    <fieldText>Selected Marker</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reactive_Standard_Components</name>
        <label>Reactive Standard Components</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reactive_Custom_Components</targetReference>
        </connector>
        <fields>
            <name>Standard_Title</name>
            <fieldText
      >&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Reactive Standard Components&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reactive_Standard_Components_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reactive_Standard_Components_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_Text</name>
                    <dataType>String</dataType>
                    <fieldText>Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>City_Text</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Show_Details</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Show Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reactive_Standard_Components_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>City_Text</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Zip_Postal_Code</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Address_Text</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Show_Details_Selected</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Show_Details.value</elementReference>
                    </defaultValue>
                    <fieldText>Show Details Selected</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text</name>
                    <fieldText
          >&lt;p&gt;This information depends on the previous toggle.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Details.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reactive_Standard_Components</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
