force-app/main/default/flows/Demo_Data_Table.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <dynamicChoiceSets>
        <name>Account_Options</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Demo: Data Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo: Data Table</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Select_Account.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Selection</name>
        <label>Account Selection</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <fields>
            <name>Select_Account</name>
            <choiceReferences>Account_Options</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Account</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Contacts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contacts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contacts_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contacts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Contacts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue
              >[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ce15&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-e3b5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Business Phone&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contacts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference
              >Contacts_Table.firstSelectedRow.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference
              >Contacts_Table.firstSelectedRow.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference
              >Contacts_Table.firstSelectedRow.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
